In [ ]:
#Day 1 starts
print('Welcome to code community')

In [ ]:
#variable name is overridable 
name = 'Irfan'#variable
name = "Arun" #variable #latest variable will be taken if same variable name declared 
print(name)

In [ ]:
#accessing string and string is immutable 
name = 'Irfan'#string
f_letter = name[0]
u =name[-1]
print(u)
print(f_letter)
#name[0] = 'y'#commented because it leads to error.. whn we try to change the things inside string

In [ ]:
#variable declaration is case sensentive 
a = 'lowercase a'
A = 'Uppercase A'
print(a)
print(A)

In [ ]:
#Data type
x = 10
y = 'Test'
z = 90.88
a =  True
b = 10
c = 66
t = 66
print(type(x))
print(type(y))
print(type(z))
print(type(a))
            
print(id(x))
print(id(b))
print(id(c))
print(id(t))
print(id(z))

In [ ]:
#string and it's method
sess_nm = 'codE chaiN'
print(sess_nm.lower())
print(sess_nm.upper())
#etc.,

In [ ]:
s1 = "Arun "
s2 = "Priya"
s3 = s1+s2
print(s3)

#string to string can be performed only '+' operator

In [ ]:
s1= 'dhivya '
s2 = 4
s3 =  s1*s2
print("name is ",s1,"total",s2)
print(s3)
#String with integer...it possible to have only '*'

In [ ]:
 #Assignment operator ('=')
ram = 100
print(ram)

In [ ]:
#Arithmetic operator
# +,-,*,\,%,\\

#addition
thilak = 100
manoj = 120
total = thilak+manoj
print(total)

#subtraction 
a = manoj - thilak
print(a)

#Multiplication
#one pen cost 5rs and box have 10 pens inside. what is the cost of 10 pens?
pen = 5
box = 10
cost = pen * box
print(cost)

#Division
x =800
y = 10
z = x/y
print(z)

#floor division(//)
f = 37
f = f//3
print(f)

#Modulus
e = 21
e = e % 4
print(e)
#Day 1 Ends

In [ ]:
#Day2 Starts
#unary operator
salary = 10000
salary *= 2
print(salary)

In [ ]:
#Relational operator(<,>,==,<=,>=,!=)
#more num of books
r = 20
k = 20
b = (r==k)
print(b)

In [20]:
#Logical operator(and,or,not)

#not operation 
b = True
t = not b
print(t)

#and operation
j = True
k = False
p = j and k
print(p)

#and operation with '&'
j = True
k = False
p = j & k
print(p)

#or operation
l = True
m = False
n = l or m
print(n)

#or operation with '|'
l = True
m = False
n = l | m
print(n)

False
False
False
True
True

In [21]:
#swapping money solution1
a = 10
b = 20
t = a
a = b
b = t
print(a)
print(b)

20
10

In [22]:
#swapping money solution2
t=30
m=20
t,m = m,t
print(t,m)

20 30

In [16]:
#Getting I/P from User
#pblm: Book Donation 
manoj = int(input('How many book do you have manoj?'))
bala = int(input ('How many book do you have bala?'))
print("Total books can be donated",manoj+bala)
a = eval(input('Experssion'))
print(a)

How many book do you have manoj?9
How many book do you have bala?8
Total books can be donated 17
Experssion9+8
17

In [15]:
#conditions(if,nestedif,elif,else)
#pblm:who is having 1000rs for tonight dinner
s = 200
k = 900
d = 800
if(s==1000):
    print("sachin need to sponser for dinner")
elif(k==1000):
    print("kohli need to sponser for dinner")
elif(d==1000):
    print("dhoni  need to sponser for dinner")
else:
    print("own sponser")

#Day2 Ends

own sponser

In [ ]:
#pblm:climate decider?
#list