In [2]:
#Day3 starts
#list
l1 = [7,8,6,93,66,77,93,93]

l2 = [10,True,10.88,"python"]

# l1[0] = 99


# list is mutable

l1.append(88)


l1.insert(1,44)


l1.remove(7)
print(l1)


l1.pop(2)


l1.extend([23,44,56])
print(l1)

print(min(l1))
print(max(l1))
print(sum(l1))
print(len(l2))

[44, 8, 6, 93, 66, 77, 93, 93, 88]
[44, 8, 93, 66, 77, 93, 93, 88, 23, 44, 56]
8
93
685
4

In [5]:
#for(enumeration,range,list)
#type1 :list

l1 = [4,5,6,9,77]

print(len(l1))

for spider_man in l1:
    print(spider_man)
    
print("Done")

5
4
5
6
9
77
Done

In [4]:
#type2 is range
#s1
for i in range(10):
    print(i)
#s2
for i in range(20,41):
    print(i)
#s3
for i in range(10,40,3):
    print(i)

0
1
2
3
4
5
6
7
8
9
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
10
13
16
19
22
25
28
31
34
37

In [20]:
#type3:enumerate
l1 = [4,5,6,9,77]
for i,elem in enumerate(l1):
    print(i,elem)

0 4
1 5
2 6
3 9
4 77

In [21]:
for i in range(len(l1)):
    print(l1[i])

4
5
6
9
77

In [3]:
#while loop
#infinte loop in while loop

# while (True):
#     print(1)

i = 1
while(i<=5):
    print(i)
    i += 1
print("Completed") 

j = 2
while (True):
    print(j)
    j = j+1
    if(j>3):
        break
    
print("works")

2
3
works

In [15]:
#Design using while loop
#1,2,3,4,bus,6,7,8,9,bus
i = 0
while(i<100):
    i = i+1
    if(i%5 == 0):
        print("Bus")
        continue
    print(i)

1
2
3
4
Bus
6
7
8
9
Bus
11
12
13
14
Bus
16
17
18
19
Bus
21
22
23
24
Bus
26
27
28
29
Bus
31
32
33
34
Bus
36
37
38
39
Bus
41
42
43
44
Bus
46
47
48
49
Bus
51
52
53
54
Bus
56
57
58
59
Bus
61
62
63
64
Bus
66
67
68
69
Bus
71
72
73
74
Bus
76
77
78
79
Bus
81
82
83
84
Bus
86
87
88
89
Bus
91
92
93
94
Bus
96
97
98
99
Bus

In [45]:
# 3.1: Total 200 pens and 1 box can contain 4 pens .
#     Totally how many box required to have all the pens?
# Solve it using for loop
pens = 200
one_box = 4
for i in range(pens):
    if(one_box*i == 200):
        print(i)

50

In [52]:
l1= 5
for i in range(l1):
    print("msg")
    
print("outside for loop")
#Day3 ends

msg
msg
msg
msg
msg
outside for loop

In [6]:
#day4 starts
#set
s1 = {100,993,4,6,88,55}
# print((s1))
#No sequence#unorder

#Iteration in set
for i in s1:
    print(i)
    if(i == 88):
        print("it is 88")

#typecast
# list --> set
l1 = [66,88,88,88,77,99]
s2 = set(l1)
print(l1)

# #set 
# #duplication
s3 = {66,88,88,88,77,99}

# #add
s3.add(55)
print(s3)

# #frozenset
s4 = {66,22,12,24}
s5 = frozenset(s4)



#operations
s1.discard(45)
print(s1)
print(s2)

print(s1&s2)#intersection
print(s1.intersection(s2))

print(s1|s2)#union
print(s1.union(s2))

993
100
4
6
55
88
it is 88
[66, 88, 88, 88, 77, 99]
{66, 99, 77, 55, 88}
{993, 100, 4, 6, 55, 88}
{88, 66, 99, 77}
{88}
{88}
{993, 66, 99, 100, 4, 6, 77, 55, 88}
{993, 66, 99, 100, 4, 6, 77, 55, 88}

In [8]:
#tuple
t1 = (66,88,11,21,21)
print((t1))

#Iteration in tuple
for i in t1:
    print(i)

l1 = [66,88,11,21]


# #Tuple is Immutable
# # t1[3] = 31

# #list is mutable
l1[3] = 31

# #Indexing
print(t1[2])

# #operations
t1.count(21)


# #typecast
l2 = list(t1)
print(l2)

t3 = tuple(l1)
print(t3)

(66, 88, 11, 21, 21)
66
88
11
21
21
11
[66, 88, 11, 21, 21]
(66, 88, 11, 31)

In [11]:
#dict
d1 = {10:"Sachin",7:"Dhoni",18:["faf","Kohli"]} 
# print(d1)


# #operation

# s = d1[11]
# print(s)

s = d1.get(21,"No players with jersey no..")
print(s)

#typecast
l1 = [10,7]
l2 = ["sachin","dhoni"]

d3 = dict(zip(l1,l2))
print(d3)

# #Iterations
for i in d1.items():
    print(i)

for i in d1:
    print(i)


k1 = list(d1.keys())
print(k1)
v1 = list(d1.values())
print(v1)


for k,v in d1.items():
    print("keys: ", k)
    print("values: ", v)

No players with jersey no..
{10: 'sachin', 7: 'dhoni'}
(10, 'Sachin')
(7, 'Dhoni')
(18, ['faf', 'Kohli'])
10
7
18
[10, 7, 18]
['Sachin', 'Dhoni', ['faf', 'Kohli']]
keys:  10
values:  Sachin
keys:  7
values:  Dhoni
keys:  18
values:  ['faf', 'Kohli']

In [91]:
d1 = {10:"Sachin",7:"Dhoni",18:["faf","Kohli"]} 
d2 = {66:"ganguly",99:"Ashwin"} 

# for k in d1:
#     print(k)
    
# for v in d1:
#     print(d1[v])
#step1:combine 2 dict
d1.update(d2)
print(d1)

#step 2:normal iterations
for i in d1:
    print(i)

{10: 'Sachin', 7: 'Dhoni', 18: ['faf', 'Kohli'], 66: 'ganguly', 99: 'Ashwin'}
10
7
18
66
99

In [87]:
del d1[10]

In [88]:
print(d1)
#day4 Ends

{7: 'Dhoni', 18: ['faf', 'Kohli']}